.body, .html {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}
.bg {
    background-image: src="static/images/frontimage.jpeg.jpg";
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.h3 {
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}
.search-field {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}
.recipe {
    width: 400px;
}
.Cuisine {
    width: 200px;
}
.search-btn {
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
}
.search-btn:hover {
    background: #ffc107;
    cursor: pointer;
}
.form-box {
    background: rgba(0,0,0,0.5);
    padding: 30px;
}