{% extends 'base.html' %} {% block content %}

<h2>Add your recipe below!</h2>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Name your recipe here!" id="recipes_Recipe" type="text" class="validate">
          <label for="name_of_recipe">Name of your recipe</label>
        </div>
        <div class="input-field col s6">
          <input id="recipes_Cuisine" type="text" class="validate">
          <label for="cuisine">What cuisine is your recipe from</label>
        </div>
      </div>

  <div action="{{ url_for('addrecipe_add') }}" method="POST" class="input-field col s6">
    <select multiple>
    {% for base in bases %}
      <option value="{{base.bases}}">{{base.bases}}</option>

    </select>
    <label value="{{base.bases}}">{{base.bases}}</label>
  </div>
            {% endfor %}
    <div action="{{ url_for('addrecipe_add') }}" method="POST" class="input-field col s6">
    <select multiple>
    {% for meat in meats %}
      <option value="{{meat.meats}}">{{meat.meats}}</option>
      {% endfor %}
    </select>
    <label>Materialize Multiple Select</label>
  </div>

    <div action="{{ url_for('addrecipe_add') }}" method="POST" class="input-field col s6">
    <select multiple>
    {% for sauce in sauces %}
      <option value="{{sauce.sauces}}">{{sauce.sauces}}</option>
            {% endfor %}
    </select>
    <label>Materialize Multiple Select</label>
  </div>

    <div action="{{ url_for('addrecipe_add') }}" method="POST" class="input-field col s6">
    <select multiple>
    {% for spice in spices %}
      <option value="{{spice.spices}}">{{spice.spices}}</option>
            {% endfor %}
    </select>
    <label>Materialize Multiple Select</label>
  </div>

    <div action="{{ url_for('addrecipe_add') }}" method="POST" class="input-field col s6">
    <select multiple>
    {% for vegetable in vegetables %}
      <option value="{{vegetable.vegetables}}">{{vegetable.vegetables}}</option>
            {% endfor %}
    </select>
    <label>Materialize Multiple Select</label>
  </div>

   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="recipes_Instructions" class="materialize-textarea"></textarea>
          <label for="textarea1">Please leave your instructions here</label>
        </div>
      </div>

   <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit your recipe
    <i class="material-icons right">addrecipe_add</i>
  </button>
   </div>
    </form>

  </div>

{% endblock %}