<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
    </script>

{% block content %}

<h1>Cook Book</h1>
 <img class="materialboxed" width="650" src="static/images/frontimage.jpeg.jpg">
     <p>Welcome to Recipes at home!
We pride ourselves on providing the healthiest and quickest recipes to make at home during these troubling times!

Feel free to browse our recipe's or simply add yours to our collection below!
	</p>

<a href="{{url_for('browse')}}" class="waves-effect waves-light btn">Browse</a>

<a href="{{url_for('addrecipe')}}" class="waves-effect waves-light btn">Add a recipe</a>

    {% for recipe in recipes %}
        {{recipe.Recipe}}<br>
        {{recipe.Cuisine}}<br>
        {{recipe.Ingredients_bases}}<br>
        {{recipe.Ingredients_sauces}}<br>
        {{recipe.Ingrediets_spices}}<br>
        {{recipe.Ingredients_vegetables}}<br>
        {{recipe.Ingredients_meats}}<br>
        {{recipe.Instructions}}<br>

        

    {% endfor %}

    {% endblock %}

    
</body>
</html>