<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for recipe in recipes %}
        {{recipe.Recipe}}<br>
        {{recipe.Cuisine}}<br>
        {{recipe.Ingredients_bases}}<br>
        {{recipe.Ingredients_sauces}}<br>
        {{recipe.Ingrediets_spices}}<br>
        {{recipe.Ingredients_vegetables}}<br>
        {{recipe.Ingredients_meats}}<br>
        {{recipe.Instructions}}<br>
    {% endfor %}
</body>
</html>
