{% extends 'main.html' %}
{% block content %}

 <img class="materialboxed" width="650" src="static/images/frontimage.jpeg.jpg">

    {% for recipe in recipes %}
        {{recipe.Recipe}}<br>
        {{recipe.Cuisine}}<br>
        {{recipe.Ingredients_bases}}<br>
        {{recipe.Ingredients_sauces}}<br>
        {{recipe.Ingrediets_spices}}<br>
        {{recipe.Ingredients_vegetables}}<br>
        {{recipe.Ingredients_meats}}<br>
        {{recipe.Instructions}}<br>

        

    {% endfor %}

    {% endblock %}