{% extends 'base.html' %}
{% block content %}
<body background="static/images/frontimage.jpeg.jpg">
 <form>
     <h3>Welcome to Recipes at home!
We pride ourselves on providing the healthiest and quickest recipes to make at home during these troubling times!

Feel free to browse our recipe's!
	</h3>
    <div class="form-box">
    <input type="text" class="search-field recipe" placeholder="Recipe">

    <input type="text" class="search-field Cuisine" placeholder="Cuisine">
    <button class="search-btn" type="button">Search</button>
    </form>
    </div>
    </div>
<a href="browse.html" class="waves-effect waves-light btn">Browse</a>

<a href="addrecipe.html" class="waves-effect waves-light btn">Add a recipe</a>
</body>
{% endblock %}