{% extends 'base.html' %} {% block content %}

<h3>Edit your recipe below!</h3>

  <div class="row">
    <form action="{{ url_for('addrecipe_add') }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input name="Recipe"placeholder="Name your recipe here" id="Recipe" type="text" class="validate" value="{{recipes.Recipe}}" required>
          <label for="Recipe">Name of your recipe</label>
        </div>
        <div class="input-field col s6">
          <input name="Cuisine" id="Cuisine" type="text" class="validate" value="{{recipes.Cuisine}}" required>
          <label for="Cuisine">What cuisine is your recipe from</label>
        </div>
      </div>

  <div class="input-field col s6">
    <select name="base" multiple required>
    {% for base in bases %}
{% if base.base == recipes.base %}
      <option value="{{base.base}}" selected>{{base.base}}</option>
      {% else %}
      {% endif %}
                 {% endfor %}
    </select>
    <label>Select your base(s)</label>
  </div>
 
    <div class="input-field col s6">
    <select name="meat" multiple required>
    {% for meat in meats %}
    {% if meat.meat == recipe.meat %}
      <option value="{{meat.meat}}">{{meat.meat}}</option>
            {% else %}
      {% endif %}
      {% endfor %}
    </select>
    <label>Select your meat</label>
  </div>

    <div class="input-field col s6">
    <select name="sauce" multiple required>
    {% for sauce in sauces %}
        {% if sauce.sauce == recipe.sauce %}
      <option value="{{sauce.sauce}}">{{sauce.sauce}}</option>
                {% else %}
      {% endif %}
            {% endfor %}
    </select>
    <label>Select your sauce(s)</label>
  </div>

    <div class="input-field col s6">
    <select name="spice" multiple required>
    {% for spice in spices %}
            {% if spice.spice == recipe.spice %}
      <option value="{{spice.spice}}">{{spice.spice}}</option>
                      {% else %}
      {% endif %}
            {% endfor %}
    </select>
    <label>Select your spice(s)</label>
  </div>

    <div class="input-field col s6">
    <select name="vegetable" multiple required>
    {% for vegetable in vegetables %}
               {% if vegetable.vegetable == recipe.vegetable %}
      <option value="{{vegetable.vegetable}}">{{vegetable.vegetable}}</option>
                            {% else %}
      {% endif %}
            {% endfor %}
    </select>
    <label>Select your vegetable(s)</label>
  </div>

   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea  name="Instructions" id="Instructions" class="materialize-textarea" value="{{recipes.Instructions}}" required></textarea>
          <label for="textarea1" required>Please leave your instructions here</label>
        </div>
      </div>

   <div class="row">
      <button class="btn waves-effect waves-light" type="submit">Change your recipe
    <i class="material-icons right">addrecipe_add</i>


  </button>
   </div>
    </form>

  </div>

{% endblock %}